
body {
    display: flex;
    justify-content: center;
}
#app>:nth-child(n){
    margin: 2em;
}







































































































