.synph-item-content, 
.synph-syn, 
.synph-loop-content, .synph-loop-items,
.synph-loop-middle
 {
    display: flex;
    cursor: default;
}

.synph-item{
    background: #f8f8f8;
    padding: 1em;
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.synph-item-name{
    color: #454545;
    font-weight: bold;
    margin-left: -1em;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.synph-lexical {
    justify-content: center;
    align-items: center;
    margin: 0.2em;
    transition: background 0.25s, transform 0.25s;
}
.synph-lexical>code {
    background-color: #a6e08b;
    border-radius: 1000000000000000000000000000px;
    padding: 0.35em;
    min-width: 1em;
    height: 1em;
    line-height: 1em;
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #787878;
}
.synph-lexical:hover>code {
    background-color: #78d64d;
    transform: scale(1.3);
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.synph-syntax{
    justify-content: center;
    align-items: stretch;
    margin: 0.2em;
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
}
.synph-syntax>code {
    background-color: rgb(151, 196, 241);
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-height: 1em;
    line-height: 1em;
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    border: 2px solid #787878;
}
.synph-syntax:hover>code {
    background-color: rgb(108, 176, 243);
    transform: scale(1.2);
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.synph-loop{
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: rgb(230, 230, 230);
    transition: background 0.25s, transform 0.25s;
}
.synph-loop:hover{
    transform: scale(1.7);
}
.synph-loop-content{
    transition: background 0.25s, transform 0.25s;
}
.synph-loop:hover .synph-loop-content{
    transform: scale(0.8);
}

.synph-loop-items{
    background-color: rgba(180, 180, 180, 0.5);
    transition: background 0.25s, transform 0.25s;
    border-radius: 0.2em;
    margin: 0.1em;
}
.synph-loop-items:hover{
    background-color: rgb(200, 200, 200);
    transform: scale(1.3);
}
.synph-loop-items:hover>:nth-child(n){
    transform: scale(0.8);
}
.synph-loop:hover .synph-loop-items{
    transform: scale(0.8);
}
.synph-loop:hover .synph-loop-items:hover {
    transform: scale(0.8) scale(1.3);
}

.synph-loop-middle {
    background-color: hsla(357, 54%, 71%, 0.2);
    transition: background 0.25s, transform 0.25s;
    border-radius: 0.5em;
    margin: 0.1em;
    display: flex;
    align-items: center;
}
.synph-loop-middle:hover{
    background-color: hsla(357, 54%, 71%, 0.5);
    transform: scale(1.3);
}
.synph-loop-middle:hover>:nth-child(n){
    transform: scale(0.8);
}
.synph-loop:hover .synph-loop-middle{
    transform: scale(0.8);
}
.synph-loop:hover .synph-loop-middle:hover {
    transform: scale(0.8) scale(1.3);
}
.synph-loop-middle::before{
    content: '';
    display: flex;
    width: 1.2em;
    height: 1.2em;
    mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1025 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200.1953125' height='200'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C/style%3E%3C/defs%3E%3Cpath d='M512 545.781443m-247.026804 0a247.026804 247.026804 0 1 0 494.053608 0 247.026804 247.026804 0 1 0-494.053608 0Z' p-id='1168'%3E%3C/path%3E%3Cpath d='M598.564948 254.416495l-86.564948-95.010309 109.789691-67.562887z' p-id='1169'%3E%3C/path%3E%3Cpath d='M512 933.212371c-219.579381 0-399.043299-178.408247-399.043299-399.043299C112.956701 337.814433 253.360825 172.074227 446.548454 140.404124c11.612371-2.11134 23.224742 6.334021 25.336082 17.946391 2.11134 11.612371-6.334021 23.224742-17.946392 25.336083C281.863918 212.189691 156.239175 358.927835 156.239175 534.169072c0 195.298969 159.406186 354.705155 354.705155 354.705155S865.649485 729.468041 865.649485 534.169072c0-157.294845-105.56701-297.698969-255.472165-340.981443-11.612371-3.16701-17.946392-15.835052-14.779382-27.447423 3.16701-11.612371 15.835052-17.946392 27.447423-14.779381C791.752577 200.57732 909.987629 357.872165 909.987629 534.169072c1.05567 220.635052-177.352577 399.043299-397.987629 399.043299z' %3E%3C/path%3E%3C/svg%3E");
    -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1025 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200.1953125' height='200'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C/style%3E%3C/defs%3E%3Cpath d='M512 545.781443m-247.026804 0a247.026804 247.026804 0 1 0 494.053608 0 247.026804 247.026804 0 1 0-494.053608 0Z' p-id='1168'%3E%3C/path%3E%3Cpath d='M598.564948 254.416495l-86.564948-95.010309 109.789691-67.562887z' p-id='1169'%3E%3C/path%3E%3Cpath d='M512 933.212371c-219.579381 0-399.043299-178.408247-399.043299-399.043299C112.956701 337.814433 253.360825 172.074227 446.548454 140.404124c11.612371-2.11134 23.224742 6.334021 25.336082 17.946391 2.11134 11.612371-6.334021 23.224742-17.946392 25.336083C281.863918 212.189691 156.239175 358.927835 156.239175 534.169072c0 195.298969 159.406186 354.705155 354.705155 354.705155S865.649485 729.468041 865.649485 534.169072c0-157.294845-105.56701-297.698969-255.472165-340.981443-11.612371-3.16701-17.946392-15.835052-14.779382-27.447423 3.16701-11.612371 15.835052-17.946392 27.447423-14.779381C791.752577 200.57732 909.987629 357.872165 909.987629 534.169072c1.05567 220.635052-177.352577 399.043299-397.987629 399.043299z' %3E%3C/path%3E%3C/svg%3E");
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: #454545;
    margin: 0.2em;
}
.synph-loop-middle:hover::before{
    transform: rotate(-720deg);
    transition: transform 2s;
}

.synph-syn .synph-range {
    padding: 0.35em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.25s, transform 0.25s;
}


.synph-range[class~='0..']>:nth-child(n), .synph-range[class~='0..1']>:nth-child(n), .synph-range[class~='1..']>:nth-child(n) {
    display: none;
}
.synph-range::before{
    content: '{'
}
.synph-range::after{
    content: '}'
}
.synph-range[class~='0..']::after, .synph-range[class~='0..1']::after, .synph-range[class~='1..']::after{
    content: unset
}
.synph-range[class~='0..']::before{
    content: '*'
}
.synph-range[class~='1..']::before{
    content: '+'
}
.synph-range[class~='0..1']::before{
    content: '?'
}