.synph-item-content, 
.synph-syn, 
.synph-loop-content, .synph-loop-items,
.synph-loop-middle, .synph-loop-box, .synph-loop-item-box,
.synph-group, .synph-option,
.synph-group-box, .synph-option-box,
.synph-group-items, .synph-option-items,
.synph-group-item-box, .synph-option-item-box
 {
    display: flex;
    cursor: default;
}

.synph-item{
    background: #f8f8f8;
    padding: 1em;
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.synph-item-name{
    color: #454545;
    font-weight: bold;
    margin-left: -1em;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.stretch .synph-item-content{
    justify-content: space-around;
}

.synph-lexical {
    justify-content: center;
    align-items: center;
    margin: 0.2em;
    transition: background 0.25s, transform 0.25s;
}
.synph-lexical>code {
    background-color: #a6e08b;
    border-radius: 1000000000000000000000000000px;
    padding: 0.35em;
    min-width: 1em;
    height: 1em;
    line-height: 1em;
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #787878;
}
.synph-lexical:hover>code {
    background-color: #78d64d;
    transform: scale(1.3);
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.synph-syntax{
    justify-content: center;
    align-items: stretch;
    margin: 0.2em;
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
}
.synph-syntax>code {
    background-color: rgb(151, 196, 241);
    padding: 0.35em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 1em;
    line-height: 1em;
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    border: 2px solid #787878;
}
.synph-syntax:hover>code {
    background-color: rgb(108, 176, 243);
    transform: scale(1.2);
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.synph-loop{
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: rgb(230, 230, 230);
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
    box-shadow: 0 0 1em rgba(0,0,0,0.05);
}
.stretch .synph-loop{
    flex: 1;
}
.stretch .synph-loop {
    justify-content: space-between;
}
.synph-loop:hover{
    transform: scale(1.7);
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}
.synph-loop-content{
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
}
.stretch .synph-loop-content{
    flex: 1;
}
.synph-loop:hover>.synph-loop-range{
    transform: scale(calc(1 / 1.7));
}
.synph-loop-box, .synph-loop-item-box{
    transition: transform 0.25s;
    align-items: center;
}
.stretch .synph-loop-items-box{
    flex: 1;
}
.synph-loop:hover>.synph-loop-content>.synph-loop-middle-box,
.synph-loop:hover>.synph-loop-content>.synph-loop-items>.synph-loop-item{
    transform: scale(calc(1 / 1.7));
}

.synph-loop-items{
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
}
.synph-loop-item{
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
}
.synph-loop-middle {
    background-color: hsla(357, 54%, 71%, 0.2);
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
    border-radius: 0.5em;
    margin: 0.1em;
    height: 1em;
    padding: 0.55em 0.25em;
    display: flex;
    align-items: center;
}
.synph-loop-middle:hover{
    background-color: hsla(357, 54%, 71%, 0.5);
    transform: scale(1.3);
    box-shadow: 0 0 1em hsla(357, 54%, 71%, 0.5);
}
.synph-loop-middle:hover>.synph-loop-item-box{
    transform: scale(calc(1 / 1.3));
}

.synph-loop-middle::before{
    display: flex;
    width: 1.2em;
    height: 1.2em;
    margin: 0.2em;
    justify-content: center;
    align-items: center;
}
.synph-loop-middle:not([class~='0..1'])::before{
    content: '';
    mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200' height='200'%3E%3Cpath d='M709.12 153.6H896c15.36 0 25.6-10.24 25.6-25.6s-10.24-25.6-25.6-25.6H640c-2.56 0-25.6 0-25.6 25.6v256c0 15.36 10.24 25.6 25.6 25.6s25.6-10.24 25.6-25.6V189.44c120.32 56.32 204.8 181.76 204.8 322.56 0 197.12-161.28 358.4-358.4 358.4S153.6 709.12 153.6 512c0-181.76 133.12-330.24 307.2-353.28v-51.2C258.56 130.56 102.4 302.08 102.4 512c0 225.28 184.32 409.6 409.6 409.6s409.6-184.32 409.6-409.6c0-153.6-84.48-289.28-212.48-358.4z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200' height='200'%3E%3Cpath d='M709.12 153.6H896c15.36 0 25.6-10.24 25.6-25.6s-10.24-25.6-25.6-25.6H640c-2.56 0-25.6 0-25.6 25.6v256c0 15.36 10.24 25.6 25.6 25.6s25.6-10.24 25.6-25.6V189.44c120.32 56.32 204.8 181.76 204.8 322.56 0 197.12-161.28 358.4-358.4 358.4S153.6 709.12 153.6 512c0-181.76 133.12-330.24 307.2-353.28v-51.2C258.56 130.56 102.4 302.08 102.4 512c0 225.28 184.32 409.6 409.6 409.6s409.6-184.32 409.6-409.6c0-153.6-84.48-289.28-212.48-358.4z'%3E%3C/path%3E%3C/svg%3E");
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: #454545;
}
.synph-loop-middle:not([class~='0..1']):hover::before{
    transform: rotate(-720deg);
    transition: transform 2s;
}
.synph-loop-middle[class~='0..1']>:nth-child(n){
    display: none;
}
.synph-loop-middle[class~='0..1']::before{
    content: '?';
}

.synph-group-box, .synph-option-box{
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: rgb(230, 230, 230);
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
    box-shadow: 0 0 1em rgba(0,0,0,0.05);
}
.synph-group-box:hover, .synph-option-box:hover{
    transform: scale(1.7);
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}
.synph-group-item-box, .synph-option-item-box{
    transition: background 0.25s, transform 0.25s, box-shadow 0.25s;
    align-items: center;
}
.synph-group-box:hover>.synph-group-items>.synph-group-item-box, 
.synph-option-box:hover>.synph-option-items>.synph-option-item-box{
    transform: scale(calc(1 / 1.7));
}

.synph-option-items>.synph-option-item-box:not(:last-child):not(:first-child)>span{
    display: flex;
    align-items: center;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.synph-option-items>.synph-option-item-box:not(:last-child):not(:first-child)>span::before{
    content: '|';
}


.synph-loop-range {
    padding: 0.35em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.25s, transform 0.25s;
}

.synph-loop-range[class~='0..'],
.synph-loop-range[class~='0..n']>:first-child {
    display: none;
}
/* .synph-loop-range[class~='0..']::before{
    content: '*'
} */
.synph-loop-range[class~='n..']>:nth-child(n)::after,
.synph-loop-range[class~='1..']>:nth-child(n)::after{
    content: '+'
}
/* .synph-loop-range[class~='0..1']::before{
    content: '?'
} */
.synph-loop-range[class~='0..n']>:nth-child(n)::before{
    content: '<'
}
.synph-loop-range[class~='n..n']>:nth-child(2)::before{
    content: '..'
}